.section {
  position: relative;
  height: 100vh;
  background-image: url('/background.jpg');
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #4fa3e3;
}

.sectionCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.plane {
  display: inline-block;
  margin-bottom: 20px;
  width: 497px;
  object-fit: cover;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.space {
  width: 52px; /* Space between seat groups */
}

.seat {
  width: 40px;
  height: 45px;
  margin: 15px;
  border-radius: 6px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.seat:hover {
  background-color: #ccc;
}

.selected {
  background-color: #4fa3e3;
  color: #fff;
}

.confirmBtn {
  background-color: #4fa3e3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.confirmBtn:hover {
  background-color: #3a8ac1;
}

.selectedInfo {
  background-color: rgba(249, 249, 249, 0.5);
  padding: 16px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 18px;
  color: red; /* Make the text red */
}

.selectedInfo p {
  margin: 8px 0;
}

.selectedInfo p span {
  font-weight: bold;
  color: red; /* Make important text red and bold */
}